body {
    background-color: rgb(214, 188, 82);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.image {
    width: 194px;
    height: 200px;
    padding: 10px;  
}

img {
    width: 600px;
    height: 400px;
}

.imgsec {
    display: flex;
}

.btn {
    padding: 4px 12px;
    font-size: 24px;
    margin: 34px;
} 

li {
    list-style: none;
    font-size: 28px;
}